<% if @model == 'user' %>
  <h3>Users search for "<%= @content %>"</h3>
  <table>
  <tr>
    <th>ユーザー名</th>
    <th>所属団体</th>
    <th>活動エリア</th>
  </tr>
  <% @records.each do |user| %>
  <tr>
    <td><%=link_to user.name, user_path(user) %></td>
    <td><%= user.group %></td>
    <td><%= user.prefecture %></td>
  </tr>
  <% end %>
</table>
  <%#= render 'users/index', users: @records %>
<% elsif @model == 'book' %>
  <h3>Books search for "<%= @content %>"</h3>
  <%= render 'books/index', books: @records %>
<% end %>