<div class="container">
  <div>ダイアリー編集</div>

  <%= form_with model:@diary, local:true do |f| %>
    <div class="diary-form">
      <div>
        <div><%= f.label :"タイトル" %></div>
        <div><%= f.label :"ダイアリー内容" %></div>
      </div>
      <div>
        <div><%= f.text_field :title %></div>
        <div><%= f.text_area :body %></div>
      </div>
    </div>
    <%= f.submit :"更新する", class:"btn btn-success" %>
  <% end %>
  <%= link_to "マイページに戻る", user_path(current_user), class:"btn btn-link" %>
</div>