<div>ダイアリー新規登録</div>


<%= form_with model:@diary, local:true do |f| %>
  <div class="diary-form">
    <div>
      <div><%= f.label :"タイトル" %></div>
      <div><%= f.label :"ダイアリー内容" %></div>
    </div>
    <div>
      <div><%= f.text_field :title %></div>
      <div><%= f.text_field :body %></div>
    </div>
  </div>
  <%= f.submit :"保存する"%>
<% end %>
