<div class="container">

  <div class="flash-message"><strong><%= flash[:key] %></strong></div>

  <div class="diary-content">
    <div class="diary-element">
      <div class="diary-element-box"><span class="underline2">タイトル</span></div>
      <div class="diary-element-box"><span class="underline2">投稿日</span></div>
      <div class="diary-element-box"><span class="underline2">内容</span></div>
    </div>

    <div class="diary-body">
      <div class="diary-body-box"><%= @diary.title %></div>
      <div class="diary-body-box"><%= @diary.created_at.strftime("%Y-%m-%d %H:%M") %></div>
      <div class="diary-body-box"><%= @diary.body %></div>
    </div>
  </div>

  <div class="diary-content">
    <div class="favorite-btn<%= @diary.id %> p-left-right20">
      <% if @diary.user != current_user %>
        <%= render "favorites/favorite-btn", diary: @diary %>
      <% else %>
        いいね　<%= @diary.favorites.count %>
      <% end %>
    </div>
    <div class="<%= color %>">
      <% if @diary.score > 0.0 %>
        <p>引き続き頑張ろう！</p>
      <% elsif @diary.score < 0.0 %>
        <p>ゆっくり休もう！</p>
      <% else %>
      <% end %>
    </div>
    <% if @diary.user == current_user %>
      <%= link_to edit_diary_path(@diary) do %>
        <div class="diary-edit-btn"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 編集</div>
      <% end %>
    <% end %>
    <!--<%# if @diary.user == current_user %>-->
    <!--  <div id="diary-show-delete">-->
    <!--    <%#= render "diaries/diary_show", diary: @diary%>-->
    <!--  </div>-->
    <!--<%# end %>-->
  </div>

  <div class="diary-btn-box">
  <button id="comment-btn" class="diary-comment-form btn">コメントフォーム</button>
  </div>

  <div class="container center">
  <%= form_with model:[@diary,@diary_comment], url:diary_diary_comments_path(@diary,@diary_comment), id:"comment-form" do |f| %> <!--非同期設定のためlocal: trueを削除-->
    <%= f.text_area :body, class:"field-box diary-comment-box" %>
    <div class="diary-comment-btn"><%= f.submit "コメントする", class:"btn btn-width2" %></div>
  <% end %>
  </div>

  <script> // 入力欄が隠れており、ボタンを押すと出てくるコード(スライドトグル)
    $('#comment-form').hide();

    $('#comment-btn').click(function() {
        $('#comment-form').slideToggle();
    })
  </script>

  <div class="">
    <h4 class="comment-index"><strong>コメント<%= @diary_comments.count %>件</strong></h4>
    <table class="table">
      <tbody id="comments_index">
        <%= render "diary_comments/comments_index", diary_comments: @diary_comments %>
      </tbody>
    </table>
  </div>

  <%= link_to user_path(@diary.user), class:"back-home" do %>
    <div><span class="glyphicon glyphicon-home" aria-hidden="true"></span> マイページに戻る</div>
  <% end %>

</div>