<p><%= notice %></p>

<div class="diary-content">
  <div>
    <div>タイトル</div>
    <div>投稿日</div>
    <div>内容</div>
  </div>

  <div>
    <div><%= @diary.title %></div>
    <div><%= @diary.created_at.strftime("%Y-%m-%d %H:%M") %></div>
    <div>
      <%= @diary.body %>
      <% if @diary.user == current_user %>
        <%= link_to "編集", edit_diary_path(@diary) %>
      <% end %>
      <% if @diary.user == current_user %>
        <%= link_to "削除", diary_path(@diary), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} %>
      <% end %>
    </div>
  </div>
</div>

<%= form_with model:[@diary,@diary_comment], url:diary_diary_comments_path(@diary,@diary_comment) do |f| %> <!--非同期設定のためlocal: trueを削除-->
  <%= f.text_area :body, placeholder: "こちらに入力" %>
  <%= f.submit "コメントする" %>
<% end %>

<div>コメント一覧</div>
<table>
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>コメント日時</th>
      <th>内容</th>
    </tr>
  </thead>
  <tbody id="comments_index">
    <%= render "diary_comments/comments_index", diary_comments: @diary_comments %>
  </tbody>
</table>

<%= link_to "マイページに戻る", user_path(@diary.user)%>