<div class="diary-content">
  <div>
    <div>タイトル</div>
    <div>投稿日</div>
    <div>内容</div>
  </div>

  <div>
    <div><%= @diary.title %></div>
    <div><%= @diary.created_at.strftime("%Y-%m-%d %H:%M") %></div>
    <div>
      <%= @diary.body %>
      <%= link_to "編集", edit_diary_path(@diary) %>
      <%= link_to "削除", diary_path(@diary), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} %>
    </div>
  </div>
</div>