<div class="container">
  <div class="skill-btn-box">
    <% if user == current_user %>
      <button id="event-open-btn" class="skill-btn btn">イベント新規登録</button>
    <% end %>
  </div>
  
  <div id="event_error_explanation">
    <%= render "events/errors", event: event %>
  </div>
  
  <div class="container center">
    <div id="event-form">
      <% if user == current_user %>
        <%= form_with(model: event) do |form| %>
          <div class="input-form">
            <div class="field">
              <%= form.hidden_field :user_id, :value => current_user.id %>
            </div>

            <div class="field">
              <div><%= form.label :"タイトル", class:"field-box" %></div>
              <div><%= form.label :"内容", class:"field-box diary-body-element" %></div>
              <div><%= form.label :"開始日時", class:"field-box" %></div>
              <div><%= form.label :"終了日時", class:"field-box" %></div>
            </div>

            <div class="field">
              <div><%= form.text_field :title, class:"field-box" %></div>
              <div><%= form.text_area :body, class:"field-box diary-body-content" %></div>
              <div class="field-box event-start-date"><%= form.datetime_select :start_date, use_month_numbers:true %></div>
              <div class="field-box event-end-date"><%= form.datetime_select :end_date, use_month_numbers:true %></div>
            </div>
          </div>

          <div class="actions">
            <%= form.submit "保存する", class:"btn" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <script> // 入力欄が隠れており、ボタンを押すと出てくるコード(スライドトグル)
    $('#event-form').hide();

    $('#event-open-btn').click(function() {
        $('#event-form').slideToggle();
    })
  </script>
  
  <div id="calendar"></div>
  <%= link_to events_path do %>
    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> イベント一覧
  <% end %>
</div>

<script>
  $(function () {
    // 画面遷移を検知
    $(document).on('turbolinks:load', function () {
      if ($('#calendar').length) {
        function Calendar() {
          return $('#calendar').fullCalendar({
          });
        }
        function clearCalendar() {
          $('#calendar').html('');
        }
        $(document).on('turbolinks:load', function () {
          Calendar();
        });
        $(document).on('turbolinks:before-cache', clearCalendar);
        // events: '/events.json', 以下に追加
        $('#calendar').fullCalendar({
          // weekNumbers: false,
　　　    //   aspectRatio: 3.31,
          events: '/events.json',
          //カレンダー上部を年月で表示させる
          titleFormat: 'YYYY年 M月',
          //曜日を日本語表示
          dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
          //ボタンのレイアウト
          header: {
            left: '',
            center: 'title',
            right: 'today prev,next'
          },
          //終了時刻がないイベントの表示間隔
          defaultTimedEventDuration: '03:00:00',
          buttonText: {
            prev: '前',
            next: '次',
            prevYear: '前年',
            nextYear: '翌年',
            today: '今日',
            month: '月',
            week: '週',
            day: '日'
          },
          // Drag & Drop & Resize
          editable: true,
          //イベントの時間表示を２４時間に
          timeFormat: "HH:mm",
          //イベントの色を変える
          eventColor: '#87cefa',
          //イベントの文字色を変える
          eventTextColor: '#000000',
          eventRender: function(event, element) {
            element.css("font-size", "0.8em");
            element.css("padding", "5px");
          }
        });
      }
    });
  });
</script>