<div class="container">

  <div class="profile-show">
    <div class="profile-element">
      <div class="profile-element-box"><span class="underline2">名前</span></div>
      <div class="profile-element-box"><span class="underline2">所属団体</span></div>
      <div class="profile-element-box"><span class="underline2">活動エリア</span></div>
      <div class="profile-element-box"><span class="underline2">フォロー数|フォロワー数</span></div>
      <div class="profile-element-box"><span class="underline2">自己紹介</span></div>
    </div>
    <div class="profile-body">
      <div class="profile-body-box"><%= user.name %></div>
      <div class="profile-body-box"><%= user.organization %></div>
      <div class="profile-body-box"><%= user.prefecture %></div>
      <div class="profile-body-box">
        <%= link_to user.followings.count, user_followings_path(user) %> |
        <%= link_to user.followers.count, user_followers_path(user) %>
      </div>
      <div class="profile-body-box new-line"><%= user.introduction %></div>
    </div>
  </div>

  <div class="follow-btn"><%= render "users/follow_btn", user: user %></div>

  <div class="profile-edit">
    <% if user == current_user %>
      <%= link_to edit_user_registration_path do %>
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 編集
      <% end %>
    <% end %>
  </div>

</div>