<div class="container">
<% if user == current_user %>
  <%= form_with model:skill, url:skills_path(skill) do |f| %>
    <div><%= f.label :"習得したいスキル"%></div>
    <div><%= f.text_area :name, placeholder: "こちらに入力"%></div>
    <div><%= f.submit "登録する", class:"btn" %></div>
  <% end %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>番号</th>
      <th>スキル名</th>
      <th>習得度</th>
    </tr>
  </thead>
  <tbody id="skills_index">
    <%= render "skills/skills_index", skills: skills%>
  </tbody>
</table>
</div>