<div class="container">
  <div class="skill-btn-box">
    <% if user == current_user %>
      <button id="skill-open-btn" class="skill-btn btn">スキル新規登録</button>
    <% end %>
  </div>
  
  <div id="skill_error_explanation">
    <%= render "skills/errors", skill: skill %>
  </div>

  <div class="container center">
    <% if user == current_user %>
      <%= form_with model:skill, url:skills_path(skill), id:"skill-form" do |f| %>
        <div class="skill-box" >
        <%= f.label :"練習中スキル(20字以内)"%>
        <%= f.text_area :name, class:"skill-text" %>
        </div>
        <div><%= f.submit "保存する", class:"btn bottom50" %></div>
      <% end %>
    <% end %>
  </div>
  <script> // 入力欄が隠れており、ボタンを押すと出てくるコード(スライドトグル)
    $('#skill-form').hide();

    $('#skill-open-btn').click(function() {
        $('#skill-form').slideToggle();
    })
  </script>

  <div id="skills_index">
    <%= render "skills/skills_index", skills: skills %>
  </div>
</div>