<% i = 0 %>
<% skills.each do |skill| %>
  <div class="skill-index">
    <div><%= i+=1 %></div>
    <div class="skill-index-body"><%= skill.name %></div>
    <div id="skill-edit<%= skill.id %>">
      <% if skill.user == current_user %>
        <%= render "skills/skill_edit", skill: skill %>
      <% else %>
        <%= skill.level %>%
      <% end %>
    </div>
    <div class="skill-delete-btn">
      <% if skill.user == current_user %>
        <%= link_to skill_path(skill), method: :delete, remote:true, data: {confirm: "本当に削除してもよろしいですか？"} do %>
          <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<!--<%# skills.each do |skill| %>-->
<!--  <div class="skill-index">-->
<!--    <%#= i+=1 %>-->
<!--    <div class="skill-index-body"><%#= skill.name %></div>-->
<!--    <div id="skill-edit<%#= skill.id %>">-->
<!--      <%# if skill.user == current_user %>-->
<!--        <%#= render "skills/skill_edit", skill: skill %>-->
<!--      <%# else %>-->
<!--        <%#= skill.level %>-->
<!--      <%# end %>-->
<!--    </div>-->
<!--    <div>-->
<!--      <%# if skill.user == current_user %>-->
<!--        <%#= link_to skill_path(skill), method: :delete, remote:true, data: {confirm: "本当に削除してもよろしいですか？"} do %>-->
<!--          <p><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> 削除</p>-->
<!--        <%# end %>-->
<!--      <%# end %>-->
<!--    </div>-->
<!--  </div>-->
<!--<%# end %>-->