<header>
  <h4>
  <% if user_signed_in? %>
    <strong><%= link_to @user.name, user_path(@user), class:"underline" %></strong> さんのページ
  <% end %>
  </h4>

  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag('logo.png', size: '110x60') %>
    <% end %>
  </div>
  
  <p class="btn-gnavi">
		<span></span>
		<span></span>
		<span></span>
	</p>
	
  <div class = "top-links" id="global-navi">
  <% if user_signed_in? %>
    <div class = "top-links-box"><%= link_to "マイページ", user_path(current_user) %></div>
    <div class = "top-links-box"><%= link_to "ユーザー", users_path %></div>
    <div class = "top-links-box"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></div>
  <% else %>
    <div class = "top-links-box"><%= link_to "トップページ", root_path %></div>
    <div class = "top-links-box"><%= link_to "新規登録", new_user_registration_path %></div>
    <div class = "top-links-box"><%= link_to "ログイン", new_user_session_path %></div>
  <% end %>
  </div>
</header>

<script>
$(function(){
    $(".btn-gnavi").on("click", function(){
        // ハンバーガーメニューの位置を設定
        var rightVal = 0;
        if($(this).hasClass("open")) {
            // 位置を移動させメニューを開いた状態にする
            rightVal = -200;
            // メニューを開いたら次回クリック時は閉じた状態になるよう設定
            $(this).removeClass("open");
        } else {
            // メニューを開いたら次回クリック時は閉じた状態になるよう設定
            $(this).addClass("open");
        }
 
        $("#global-navi").stop().animate({
            right: rightVal
        }, 200);
    });
});
</script>