<header>

  <h4>
  <% if user_signed_in? %>
    <strong><%= link_to current_user.name, user_path(current_user) %></strong> さんのページ
  <% end %>
  </h4>

  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag('logo.png', size: '110x60') %>
    <% end %>
  </div>

  <div class = "top-links">
  <% if user_signed_in? %>
    <div class = "top-links-box"><%= link_to "マイページ", user_path(current_user) %></div>
    <div class = "top-links-box"><%= link_to "ユーザー", users_path %></div>
    <div class = "top-links-box"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></div>
  <% else %>
    <div class = "top-links-box"><%= link_to "トップページ", root_path %></div>
    <div class = "top-links-box"><%= link_to "新規登録", new_user_registration_path %></div>
    <div class = "top-links-box"><%= link_to "ログイン", new_user_session_path %></div>
  <% end %>
  </div>



</header>